<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :feedback_rating %>
    <%= f.label :feedback_comment %>
    <%= f.text_area :feedback_comment, label: "Comment" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
